.gamePost {
    width: 100px;
    padding: 16px;
    text-align: center;
    border: 1px solid rgb(29, 3, 3);
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.info span{
    font-family:  'Noto Sans KR', sans-serif;
    text-transform: uppercase;
}

.title{
    font-family: 'Abel', sans-serif;
    font-size:1.4em;
}

.gamePost:hover,
.gamePost:active {
    background-color: #C0DDF5;
}