.boardRow{
    clear:both;
    display:inline-table;
    content: "";
    height: 20px;
    width: 60%;
    margin-left: 10%;
    margin-right: 10%;
}

.board{
    margin: auto;
    display: block;

}

.info {
    display: block;
    margin-top: 15px;
  }

.gameInfo {
    margin-bottom: 20px;
    background: #19a0d9;
    padding: 7px;
    text-align: center;
    color: #fff;
    min-height: 100px;
    border-radius: 7px;
    width: 60%;
    display: block;
  }
