.boardRow{
    clear:both;
    display:inline-table;
    content: "";
    height: 20px;
    width: 60%;
    margin-left: 10%;
    margin-right: 10%;
}

.board{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    width:100%;
    align-items: center;
    margin-left: 10%;

}

.info {
    display: block;
    margin-top: 15px;
  }


