.boardRow{
    clear:both;
    display:flex;
    flex-flow: row  ;
    align-content: space-between;
    justify-content: center;
    content: "";
    height: 35px;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

.board{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    width:100%;
    align-items: center;
    margin: 0 0;
} 

@media (min-width:411px){
  .boardRow{
      height:41px;
  }
}

@media (min-width:550px){
    .boardRow{
        height: 45px;
    }
    

}

@media (min-width: 768px){
    .boardRow{
        height: 60px;
    }
}


@media (min-width:1024px){
    .boardRow{
        height: 85px;
    }
}



