.button {
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 12px;
    margin: 10px;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 2px;
    width: 100px;
}


.success {
    color: white;
    background-color: #3c98c0;
}

.danger {
    color: #A1ACB2;
    background-color: #fafafa;
}