/*
    CamelCase syntax in favor over kebab syntax in order to be able to use Css modules on Tile.js
    using {classes.camelCaseName} instead of {classes.kebab-case-name}

    from documentation: this is recommended because the common alternative, kebab-casing may cause 
    unexpected behavior when trying to access style.class-name as a dot notation
*/

.tile {
    background: lightslategray;
    border: 1px solid #fff;
    float:left ;
    line-height: 45px;
    height: 45px;
    text-align: center;
    width: 45px;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
}

.hidden {
    background: #0a0624;
  }

  .isFlag,
  .containsMine {
    color: #fc543c;
  }

  @media (max-width: 600px){
      .tile{
          height:25px;
          width:25px;
          font-size: 10px;
          padding:-1;
          line-height: 25px;
      }
  }

  @media (max-width: 400px){
    .tile{
        height:20px;
        width:20px;
        font-size: 10px;
        padding:-1;
        line-height: 20px;
    }
}