/*
    CamelCase syntax in favor over kebab syntax in order to be able to use Css modules on Tile.js
    using {classes.camelCaseName} instead of {classes.kebab-case-name}
*/

.tile {
    background: lightslategray;
    border: 1px solid #fff;
    float:left ;
    line-height: 45px;
    height: 45px;
    text-align: center;
    width: 45px;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
}

.hidden {
    background: #0a0624;
  }

  .isFlag,
  .containsMine {
    color: #fc543c;
  }