/*
    CamelCase syntax in favor over kebab syntax in order to be able to use Css modules on Tile.js
    using {classes.camelCaseName} instead of {classes.kebab-case-name}

    from documentation: this is recommended because the common alternative, kebab-casing may cause 
    unexpected behavior when trying to access style.class-name as a dot notation
*/

.tile {
    background: lightslategray;
    border: 1px solid #fff;
    float:left ;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
}

.hidden {
    background: #0a0624;
  }

  .isFlag,
  .containsMine {
    color: #fc543c;
  }

  @media (min-width:411px){
      .tile{
        height: 35px;
        width: 35px;
        line-height: 35px;
        font-size: 25px;
      }
}

@media (min-width:550px){
    .tile{
        height: 40px;
        width: 40px;
        line-height: 40px;
      }

}

@media (min-width:768px){
    .tile{
        height: 50px;
        width: 50px;
        line-height: 50px;
        margin: unset 1px;
        font-size: 30px;
      }

      .hidden{
        margin: unset 3px;
      }

}

@media (min-width:1024px){
    .tile{
        height: 80px;
        width: 80px;
        line-height: 80px;
        margin: unset 5px;
        font-size: 35px;
      }
}


