.toolbar{
    width: 100%;
    height:56px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #DFF0D8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    /* Has to be lower than the backdrop that is going to be created later*/
    z-index: 90;   
    border-bottom: 2px solid black 
}

.toolbar nav{
    height: 100%;
}

.toggleMenuButton{
    background-color: transparent;
    padding:12px;
    border-radius: 5px;
    font-family:  'Noto Sans KR', sans-serif;
    color: #3C98C0;
    text-transform:uppercase;
}

.toggleMenuButton:hover{
    color: #5B7F4C;
}

@media (min-width:500px){
    .mobileOnly {
        display:none;
    }
}

@media (max-width: 500px){
    .desktopOnly {
        display: none;
    }

    .toolbar{
        z-index: 110;
    }
}

@media (min-width:768px){
    .toolbar{
        height:80px;
    }
}